{% extends 'base.html.twig' %}

{% block title %}Create character{% endblock %}

{% block body %}
    <h1>Character creation form</h1>

    {{ form_errors(creationForm) }}

    {{ form_start(creationForm) }}
    {{ form_row(creationForm.name) }}

    <button type="submit" class="btn">Create character</button>
    {{ form_end(creationForm) }}
{% endblock %}
